name: Ruby

on: [push, pull_request]

jobs:
  test:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby-version: ['3.0', '3.1', '3.2', '3.3', '4.0']

    steps:
    - uses: actions/checkout@v4
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby-version }}
    - name: Install dependencies
      run: bundle install
    - name: Rubocop
      run: rubocop
    - name: Run tests
      run: bundle exec rake spec
    - name: Brakeman action
      uses: artplan1/brakeman-action@v1.2.1
      with:
        flags: "--force"


